// COLORS
$primary-color: #DAF428;
$secondary-color: #B91639;
$tertiary-color: #72EEDE;

//FONT SIZE
$p-font-size: 14px;
$h3-font-size: $p-font-size*4/3;
$h2-font-size: $h3-font-size*4/3;
$h1-font-size: $h2-font-size*4/3;

//OPTIONAL FILES
$use-slider: true;
$use-caroussel: true;
